services:
  - type: web
    name: n8n
    env: docker
    plan: free
    branch: main
    autoDeploy: true
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "false"
      - key: N8N_PROTOCOL
        value: "https"
      - key: N8N_PORT
        value: "5678"
